* {
    margin: auto;
  }
  
  header {
    height: 50px;
    width: 100vw;
    background: gray;
    display: flex;
    justify-content: space-between;
  }
  
  .header-text {
    color: white;
    margin-left: 35px;
    margin-right: 145px;
    font-family: "Roboto Condensed", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
  }
  
  .nav-bar {
    display: flex;
    color: white;
    margin-left: 125px;
    margin-right: 125px;
    justify-content: space-between;
    font-family: "Roboto Condensed", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
  }
  
  .home {
    margin-left: 5px;
    margin-right: 25px;
  }
  
  .contact {
    margin-right: -75px;
  }
  
  .box {
    height: 200px;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
  }
  
  .text {
    color: yellow;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 60px;
    font-weight: 400;
  }
  
  .first-box {
    height: 200px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
  }
  
  .square {
    height: 185px;
    width: 195px;
    background: #99fcdf;
    margin-top: 20px;
    border-radius: 15px;
  }
  
  .second-box {
    display: flex;
    width: 100%;
    height: 40vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
  }
  
  .orange-one {
    height: 195px;
    width: 470px;
    background: orange;
    margin-top: 25px;
    margin-left: 120px;
  }
  
  .orange-two {
    height: 195px;
    width: 470px;
    background: orange;
    margin-top: 25px;
    margin-right: 130px;
    margin-left: -53px;
  }
  
  .third-box {
    height: 195px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }
  
  .text-dummy {
    height: 150px;
    width: 450px;
    margin-left: 150px;
    margin-top: 25px;
  }
  
  img {
    height: 150px;
    width: 220px;
    margin-right: 265px;
  }
  
  footer {
    height: 75px;
    width: 100vw;
    background: #4c3f68;
  }